<html>

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      * { padding: 0%; margin: 0%; } .mainContent { font-size: 17px; color:
      rgb(11, 0, 37); margin-bottom: 10px; }.maincontainerdiv{background-color:
      #f6fafd;text-decoration: none; border: 2px solid #064897; max-width: 70%;
      margin: auto; border-radius: 15px; }.content { padding: 0px 20px 0px 20px;
      } .logoImg { border-radius: 15px; height: 100px; } .bottomInfo { color:
      rgb(11, 0, 37); letter-spacing: 1px; font-size: 18px; margin: 20px 0px; }
      .disclaimer { margin-top: 40px; padding-bottom: 20px;color: rgb(114, 114,
      114); } .unsubscribe { font-size: 12px; text-align: center; margin: 20px;
      padding: 20px; } .mainlogodiv>a { margin-right: 7px; text-align: center;
      }@media only screen and (max-width: 500px) { .maincontainerdiv {
      max-width: 95%; } }.bottomInfoLink { color: rgb(11, 0, 37);
      letter-spacing: 1px; font-size: 15px; margin-top: 30px;margin-bottom: 2px;
      }.container{ margin-top: 10px; }
    </style>
  </head>

  <body>
    <div class="maincontainerdiv">
      <div class="container">
        <div class="content">
          <p class="bottomInfo"><b>Hi User,</b></p>

          <p class="mainContent">Use This OTP
            <b>{{otp}}</b>
            To Reset Your Password.</p>

          <p class="mainContent"><b>Note: </b>Please note that this OTP will be valid for 5 minutes only.</p>

          <p class="mainContent"><a href={{url}}>Click Here</a>
            To Reset Your Password.</p>

          <p class="mainContent">If this action is not initiated by you, please
            contact immediately on support@xcibil.com to report the same.</p>

          <p class="bottomInfoLink"><b>Xcibil Team,</b>
            <div class="mainlogodiv">
              <a href={{faceBook}}>Facebook</a>
              <a href={{linkEdin}}>Linkedin</a>
              <a href={{youTube}}>Youtube</a>
              <a href={{twittEr}}>Twitter</a>
            </div>

          </p>
          <p class="disclaimer">
            <b>Disclaimer:</b>
            <br />
            {{{disclaimer}}}</p>
        </div>
      </div>
    </div>
    <p class="unsubscribe">© 2022 XCIBIL
      <br />
      You've received this email because you are a subscriber of
      <a href="http://localhost:3000">this site</a>.
      <br />
      If you feel you received it by mistake or wish to unsubscribe, please
      <a href="http://localhost:3000">click here</a>.
    </p>
  </body>

</html>